{% extends "default.html" %}
{%block title%}Upload MNIST Image{%endblock%}
{% block content %}
<br>
<br>
<br>

<div class="container">
    <!-- Content here -->
     <form action="/mnist" method="post" enctype="multipart/form-data">
        <div>
            <label for="formFileLg" class="form-label">판독할 숫자 이미지를 선택하세요.</label>
            <input class="form-control form-control-lg" id="formFileLg" name="imgfile" type="file">
        </div>
        <br>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">숫자 판독 시작</button>
          </div>
     </form>
</div>
{% endblock %}